{% extends 'base.html.twig' %}
{% block body %}

    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            {{ render(path('app_include_search_form')) }}
        </div>
    </div>

    <div class="row">
        {% for track in tracks %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <a href="{{ path('app_track_show', {'id': track.id}) }}" class="text-decoration-none text-dark">
                    <div class="card position-relative overflow-hidden">
                        {% if track.album.images is defined and track.album.images|length > 0 %}
                            <img src="{{ track.album.images[0].url }}" class="card-img-top" alt="{{ track.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title truncate">{{ track.name }}</h5>
                            <p class="card-text truncate ">{{ track.artists[0].name }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}