{% extends 'base.html.twig' %}
{% block body %}
    <!--transformer en fomulaire symfony-->
<form action="{{ path('app_track_index') }}" method="get" class="input-group mb-4">
    <div class="form-outline">
        <input
                type="search"
                id="form1"
                name="q"
                class="form-control"
                value="{{ query|default('') }}"
                placeholder="Rechercher un artiste ou un titre" />
    </div>
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i>
    </button>
</form>

<div class="row">
    {% for track in tracks %}
        <div class="col-md-4 mb-3">
            <a href="{{ path('app_track_show', {'id': track.id}) }}" class="text-decoration-none text-dark">
            <div class="card">
                <img src="{{ track.album.images[0].url }}" class="card-img-top" alt="{{ track.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ track.name }}</h5>
                    <p class="card-text">{{ track.artists[0].name }}</p>
                </div>
            </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}